{
  "openapi": "3.0.0",
  "info": {
    "title": "Fresh Linkedin Profile Data",
    "version": "1.0.0",
    "description": "RapidAPI: freshdata-freshdata-default/fresh-linkedin-profile-data"
  },
  "servers": [
    {
      "url": "https://fresh-linkedin-profile-data.p.rapidapi.com"
    }
  ],
  "paths": {
    "/get-company-by-linkedinurl": {
      "get": {
        "summary": "Get Company by URL",
        "description": "1 credit per call.",
        "operationId": "get_company_by_url",
        "parameters": [
          {
            "name": "linkedin_url",
            "in": "query",
            "required": true,
            "description": "Example value: https://www.linkedin.com/company/apple/",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/enrich-lead": {
      "get": {
        "summary": "Enrich Lead",
        "description": "1 credit per call. Using each extra option will cost another 0.5 credits. Maximum: 3 credits.",
        "operationId": "enrich_lead",
        "parameters": [
          {
            "name": "linkedin_url",
            "in": "query",
            "required": true,
            "description": "Example value: https://www.linkedin.com/in/cjfollini/",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "include_skills",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "include_certifications",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "include_publications",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "include_honors",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "include_volunteers",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "include_projects",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "include_patents",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "include_courses",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "include_organizations",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "include_profile_status",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "include_company_public_url",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/get-company-by-id": {
      "get": {
        "summary": "Get Company by ID",
        "description": "1 credit per call.",
        "operationId": "get_company_by_id",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "required": true,
            "description": "Example value: 162479",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/find-custom-headcount": {
      "post": {
        "summary": "Find Custom Headcount",
        "description": "Discover the count of employees within a specific company who meet designated criteria. 1 credit per call.",
        "operationId": "find_custom_headcount",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/get-company-jobs-count": {
      "get": {
        "summary": "Count  Job Openings",
        "description": "Get the number of job openings a company has posted on LinkedIn. 1 credit per call.",
        "operationId": "count__job_openings",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "required": true,
            "description": "Example value: 162479",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/google-profiles": {
      "post": {
        "summary": "Google Profiles",
        "description": "**2** credits per call.",
        "operationId": "google_profiles",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/get-profile-pdf-cv": {
      "get": {
        "summary": "Get Profile PDF CV",
        "description": "**1 credit per call.**",
        "operationId": "get_profile_pdf_cv",
        "parameters": [
          {
            "name": "linkedin_url",
            "in": "query",
            "required": true,
            "description": "Example value: https://www.linkedin.com/in/williamhgates/",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/get-opentowork-status": {
      "get": {
        "summary": "Get Open to Work Status",
        "description": "**1 credit per call.**",
        "operationId": "get_open_to_work_status",
        "parameters": [
          {
            "name": "linkedin_url",
            "in": "query",
            "required": true,
            "description": "Example value: https://www.linkedin.com/in/williamhgates/",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/search-companies": {
      "post": {
        "summary": "Search Companies",
        "description": "Step 1: Use this endpoint to make a search using your criteria. This endpoint will return a \\",
        "operationId": "search_companies",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/get-search-results": {
      "get": {
        "summary": "Get Search Results",
        "description": "Get search results. Please make sure the search is \\",
        "operationId": "get_search_results",
        "parameters": [
          {
            "name": "request_id",
            "in": "query",
            "required": true,
            "description": "Example value: dd1b29063de8927b31fa523d36432b61",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "Example value: 1",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/search-employees": {
      "post": {
        "summary": "Search Leads",
        "description": "Find and scrape lead details with advanced filters.",
        "operationId": "search_leads",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/search-posts": {
      "post": {
        "summary": "Search Posts",
        "description": "2 credits per call.",
        "operationId": "search_posts",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/get-post-reactions": {
      "get": {
        "summary": "Get Post's Reactions",
        "description": "1 credit per call.",
        "operationId": "get_post's_reactions",
        "parameters": [
          {
            "name": "urn",
            "in": "query",
            "required": true,
            "description": "Example value: 7267273010393358336",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Default value: ALL. Possible values: ALL,LIKE,EMPATHY,APPRECIATION,INTEREST,PRAISE.",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Example value: 1",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/get-post-comments": {
      "get": {
        "summary": "Get Post's Comments",
        "description": "1 credit per call.",
        "operationId": "get_post's_comments",
        "parameters": [
          {
            "name": "urn",
            "in": "query",
            "required": true,
            "description": "Example value: 7267273010393358336",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "description": "Default value: Most relevant. Possible values: Most relevant, Most recent.",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Example value: 1",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "pagination_token",
            "in": "query",
            "required": false,
            "description": "Example value: ",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/profile-latest-post-date": {
      "get": {
        "summary": "Get Profile Latest Post Date",
        "description": "Find out when he/she posted recently.",
        "operationId": "get_profile_latest_post_date",
        "parameters": [
          {
            "name": "linkedin_url",
            "in": "query",
            "required": false,
            "description": "Example value: https://www.linkedin.com/in/ajjames/",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/get-profile-recent-activity-time": {
      "get": {
        "summary": "Detect Activity Time",
        "description": "Get the time of the latest profile activity. 2 credits per call.",
        "operationId": "detect_activity_time",
        "parameters": [
          {
            "name": "linkedin_url",
            "in": "query",
            "required": true,
            "description": "Example value: https://www.linkedin.com/in/williamhgates/",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/search-decision-makers": {
      "post": {
        "summary": "Search Decision Makers",
        "description": "Search for decision makers of any company.",
        "operationId": "search_decision_makers",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/big-search-employee": {
      "post": {
        "summary": "Lead Search at Scale",
        "description": "Find and scrape leads at scale",
        "operationId": "lead_search_at_scale",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/search-jobs-v2": {
      "post": {
        "summary": "Search Jobs V2",
        "description": "Using a simpler payload. 1 credit per call.",
        "operationId": "search_jobs_v2",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/check-search-status": {
      "get": {
        "summary": "Check Search Status",
        "description": "Get the status of your search using the request_id given in step 1.",
        "operationId": "check_search_status",
        "parameters": [
          {
            "name": "request_id",
            "in": "query",
            "required": true,
            "description": "Example value: dd1b29063de8927b31fa523d36432b61",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/get-post-details": {
      "get": {
        "summary": "Get Post Details",
        "description": "Scrape details of a single post based on its URN.",
        "operationId": "get_post_details",
        "parameters": [
          {
            "name": "urn",
            "in": "query",
            "required": true,
            "description": "Example value: 7315779816467656705",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/get-job-details": {
      "get": {
        "summary": "Get Job Details",
        "description": "Scrape the full job details, including the company basic information. 1 credit per call.",
        "operationId": "get_job_details",
        "parameters": [
          {
            "name": "job_url",
            "in": "query",
            "required": true,
            "description": "Example value: https://www.linkedin.com/jobs/view/3766410207/",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "include_skills",
            "in": "query",
            "required": false,
            "description": "Including skills will cost 1 more credit",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "include_hiring_team",
            "in": "query",
            "required": false,
            "description": "Including hiring team information will cost 1 more credit",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/get-company-posts": {
      "get": {
        "summary": "Get Company's Posts",
        "description": "2 credits per call.",
        "operationId": "get_company's_posts",
        "parameters": [
          {
            "name": "linkedin_url",
            "in": "query",
            "required": true,
            "description": "Example value: https://www.linkedin.com/company/amazon/",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "Use this param to fetch posts of the next result page: 0 for page 1, 50 for page 2, etc.",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "pagination_token",
            "in": "query",
            "required": false,
            "description": "Required when fetching the next result page. Please use the token from the result of your previous call.",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "description": "Possible values: top, recent",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/get-search-companies-results": {
      "get": {
        "summary": "Get Companies",
        "description": "Get search results. Please make sure the search is \\",
        "operationId": "get_companies",
        "parameters": [
          {
            "name": "request_id",
            "in": "query",
            "required": true,
            "description": "Example value: ba072fac0b38d12378ef5023742f0184s34e1i8n2a7p0m9o",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Example value: 1",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/check-search-companies-status": {
      "get": {
        "summary": "Check Company Search Status",
        "description": "Get the status of your search using the request_id given in step 1.",
        "operationId": "check_company_search_status",
        "parameters": [
          {
            "name": "request_id",
            "in": "query",
            "required": true,
            "description": "Example value: ba072fac0b38d12378ef5023742f0184s34e1i8n2a7p0m9o",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/search-companies-by-sales-nav-url": {
      "post": {
        "summary": "Search Companies by SN URL",
        "description": "Provide URL instead of filters.",
        "operationId": "search_companies_by_sn_url",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/search-jobs": {
      "post": {
        "summary": "Search Jobs",
        "description": "To scrape all results from each search, change the parameter \\",
        "operationId": "search_jobs",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/get-company-insights": {
      "get": {
        "summary": "Get Company Insights",
        "description": "5 credits per call.",
        "operationId": "get_company_insights",
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "required": true,
            "description": "Example value: 1035",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/get-profile-posts": {
      "get": {
        "summary": "Get Profile's Posts",
        "description": "2 credits per call",
        "operationId": "get_profile's_posts",
        "parameters": [
          {
            "name": "linkedin_url",
            "in": "query",
            "required": true,
            "description": "Example value: https://www.linkedin.com/in/williamhgates/",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Possible values: posts: to scrape posts from tab Posts -- posts or posts reshared by the person comments: to scrape posts from tab Comments -- posts the person commented reactions: to scrape posts from tab Reactions -- posts the person reacted",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "Use this param to fetch posts of the next result page: 0 for page 1, 50 for page 2, etc.",
            "schema": {
              "type": "string",
              "default": "0",
              "enum": null
            }
          },
          {
            "name": "pagination_token",
            "in": "query",
            "required": false,
            "description": "Required when fetching the next result page. Please use the token from the result of your previous call.",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/get-company-by-domain": {
      "get": {
        "summary": "Get Company by Domain",
        "description": "1 credit per call.",
        "operationId": "get_company_by_domain",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Example value: apple.com",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/google-schools": {
      "post": {
        "summary": "Search Linkedin School Pages via Google",
        "description": "Find up to 100 schools that match your criteria via Google. **2** credits per call.",
        "operationId": "search_linkedin_school_pages_via_google",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/google-companies": {
      "post": {
        "summary": "Search LinkedIn Company Pages via Google",
        "description": "Find up to 100 companies that match your criteria via Google. **2** credits per call.",
        "operationId": "search_linkedin_company_pages_via_google",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/get-year-of-experiences": {
      "get": {
        "summary": "Get Years of Experience",
        "description": "Get the total number of years of experience of a profile.",
        "operationId": "get_years_of_experience",
        "parameters": [
          {
            "name": "linkedin_url",
            "in": "query",
            "required": false,
            "description": "Example value: https://www.linkedin.com/in/williamhgates/",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/get-recommendations-received": {
      "get": {
        "summary": "Get Recommendation Received",
        "description": "Get profile’s recommendations (received). **1 credit per call**.",
        "operationId": "get_recommendation_received",
        "parameters": [
          {
            "name": "linkedin_url",
            "in": "query",
            "required": true,
            "description": "Example value: https://www.linkedin.com/in/ajjames",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/search-companies-instantly": {
      "post": {
        "summary": "Search Companies Instantly",
        "description": "Search companies in our cached database of 64 million records (updated annually). Instant results. Cost: 1 credit for 10 companies (searches returning fewer than 10 results still consume 1 credit).",
        "operationId": "search_companies_instantly",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/get-recommendations-given": {
      "get": {
        "summary": "Get Recommendation Given",
        "description": "Get profile’s recommendations (given). **1 credit per call**.",
        "operationId": "get_recommendation_given",
        "parameters": [
          {
            "name": "linkedin_url",
            "in": "query",
            "required": true,
            "description": "Example value: https://www.linkedin.com/in/ajjames",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/search-employees-by-sales-nav-url": {
      "post": {
        "summary": "Search leads V2",
        "description": "Provide search url instead of filters",
        "operationId": "search_leads_v2",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/get-open-profile-status": {
      "get": {
        "summary": "Get Open Profile Status",
        "description": "**1 credit per call.**",
        "operationId": "get_open_profile_status",
        "parameters": [
          {
            "name": "linkedin_url",
            "in": "query",
            "required": true,
            "description": "Example value: https://www.linkedin.com/in/williamhgates/",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/get-extra-profile-data": {
      "get": {
        "summary": "Get Extra Profile Data",
        "description": "Get more profile’s data fields like languages, top skills, certifications, publications, patents, awards",
        "operationId": "get_extra_profile_data",
        "parameters": [
          {
            "name": "linkedin_url",
            "in": "query",
            "required": true,
            "description": "Example value: https://www.linkedin.com/in/ajjames/",
            "schema": {
              "type": "string",
              "default": null,
              "enum": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-RapidAPI-Key"
      }
    }
  },
  "security": [
    {
      "ApiAuth": []
    }
  ]
}